.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
 background-color:  rgb(11, 6, 101);
}

.hero__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 78%;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.hero__content {
  flex: 1;
  margin-right: 20px;
}

.hero__content h1 {
  margin: 0;
  font-size: 2rem;
  color: #333;
}

.hero__content p {
  margin: 10px 0;
  color: #666;
}

.hero__image-container {
  flex: 1;
  text-align: right;
}

.hero-img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

/* CSS */
.button-51 {
  background-color: transparent;
  border: 1px solid #266DB6;
  box-sizing: border-box;
  color: #00132C;
  font-family: "Avenir Next LT W01 Bold",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-51:hover,
.button-51:active {
  outline: 0;
}

.button-51:hover {
  background-color: transparent;
  cursor: pointer;
}

.button-51:before {
  background-color: #D5EDF6;
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}

.button-51:hover:before {
  background-color: #6DCFF6;
}

@media (min-width: 768px) {
  .button-51 {
    padding: 16px 32px;
  }
}
