@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;600&display=swap');

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); */
    padding: 10px 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    /* box-shadow: 10px 10px 5px #d3d3d3; */
}

.navbar-logo h3 a {
    text-decoration: none;
    color: rgb(19, 8, 223);
}

.navbar-menu {
    display: flex;
}

.navbar-menu ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar-menu li {
    margin-right: 25%;
    font-family: 'Sora', sans-serif;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.navbar-menu ul li a {
    color: rgb(26, 135, 169);
    text-decoration: none;
    font-size: 15px;
    transition: color 0.3s ease-in-out, text-decoration 0.3s ease-in-out;
}

.navbar-menu ul li:hover {
    transform: scale(1.1); /* Slightly enlarge the item on hover */
    color: rgb(19, 8, 223); /* Change color on hover */
}

.navbar-menu ul li a:hover {
    text-decoration: line-through;
    color: rgb(19, 8, 223); /* Change link color on hover */
}

/* Responsive Design */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }

    .navbar-menu ul {
        flex-direction: column;
    }

    .navbar-menu li {
        margin: 10px 0;
    }
}

/* Accessibility */
.navbar-menu a:focus {
    outline: 2px solid #ffffff; /* Visible focus outline for accessibility */
    outline-offset: 2px;
}
